@charset "UTF-8";
.entrance-bg { background-image: url(../img/entrance/bg03.png); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; width: 100%; position: relative; }

.shop-entrance { padding-top: 180px; width: 1294px; margin-left: auto; margin-right: auto; padding-left: 47px; padding-right: 47px; padding-bottom: 45px; background-color: rgba(0, 0, 0, 0.7); background-image: url(../img/entrance/center-bg.png); background-repeat: no-repeat; background-size: 150%; background-repeat: no-repeat; background-position: top; background-blend-mode: multiply; }

@media (max-width: 1294px) { .shop-entrance { width: 100%; padding-left: calc(47vw/(1294/100)); padding-right: calc(47vw/(1294/100)); padding-bottom: calc(45vw/(1294/100)); } }

.shop-entrance__heading { margin: 0 auto; text-align: center; padding-bottom: 164px; padding-right: 49px; }

@media (max-width: 1294px) { .shop-entrance__heading { padding-right: calc(49vw/(1294/100)); padding-bottom: calc(164vw/(1294/100)); } }

.shop-entrance__heading img { width: 48%; }

.shop-entrance__container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 487px; margin: 0 auto; }

@media (max-width: 1294px) { .shop-entrance__container { width: calc(487vw/(1294/100)); padding-right: calc(32vw/(1294/100)); } }

.shop-entrance__container a { font-size: 16px; color: #fff; text-align: center; font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif; }

@media (max-width: 1294px) { .shop-entrance__container a { font-size: calc(16vw/(1294/100)); } }

@media (max-width: 1294px) { .shop-entrance__container--caution img { max-width: 80%; } }

.shop-entrance__container--enter, .shop-entrance__container--exit { padding-top: 10px; }

@media (max-width: 1294px) { .shop-entrance__container--enter, .shop-entrance__container--exit { padding-top: calc(10vw/(1294/100)); text-align: center; } }

@media (max-width: 1294px) { .shop-entrance__container--enter a img, .shop-entrance__container--exit a img { max-width: 80%; } }

.shop-entrance__container--enter a:hover img, .shop-entrance__container--exit a:hover img { -webkit-animation: 1.4s ease-in-out infinite leaveButton; animation: 1.4s ease-in-out infinite leaveButton; }

.shop-entrance__container--enter p, .shop-entrance__container--exit p { line-height: 2; }

.shop-entrance__comment { text-align: center; padding-top: 35px; padding-left: 54px; }

@media (max-width: 1294px) { .shop-entrance__comment { padding-top: calc(17vw/(1294/100)); padding-left: calc(54vw/(1294/100)); } }

.shop-entrance__comment a { font-size: 15px; color: #fff; font-weight: 500; letter-spacing: -0.05em; }

@media (max-width: 1294px) { .shop-entrance__comment a { font-size: calc(15vw/(1294/100)); } }

.shop-entrance__group { width: 58%; margin: 0 auto; padding-top: 114px; }

@media (max-width: 1294px) { .shop-entrance__group { width: calc(825vw/(1294/100)); padding-top: calc(114vw/(1294/100)); } }

.shop-entrance__group--heading { text-align: center; position: relative; padding-top: 35px; }

.shop-entrance__group--heading h2 { font-size: 22px; font-weight: bold; position: relative; z-index: 100; display: inline-block; width: 165px; margin: 0 auto; background-color: #000; font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ＭＳ Ｐ明朝', 'MS PMincho', serif; }

@media (max-width: 1294px) { .shop-entrance__group--heading h2 { font-size: calc(25vw/(1294/100)); width: calc(185vw/(1294/100)); } }

.shop-entrance__group--heading::before { position: absolute; content: ''; top: 80%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); height: 1px; width: 100%; background-color: #fff; z-index: 10; }

.shop-entrance__flex01 { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 15px; }

@media (max-width: 1294px) { .shop-entrance__flex01 { padding-top: calc(15vw/(1294/100)); } }

@media (max-width: 1294px) { .shop-entrance__flex01 img { max-width: 80%; } }

.shop-entrance__flex02 { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 50px; }

@media (max-width: 1294px) { .shop-entrance__flex02 { padding-top: calc(50vw/(1294/100)); } }

@media (max-width: 1294px) { .shop-entrance__flex02 img { max-width: 80%; } }

.shop-entrance__item { width: 50%; text-align: center; -webkit-transition: .3; transition: .3; }

.shop-entrance__item img:hover { opacity: 0.8; -webkit-transition: .3; transition: .3; }

.shop-entrance__text { padding-top: 93px; padding-left: 18px; font-size: 17px; line-height: 1.3; text-align: center; font-weight: 500; letter-spacing: 0.02em; -webkit-font-feature-settings: "palt"; font-feature-settings: "palt"; }

@media (max-width: 1294px) { .shop-entrance__text { padding-top: calc(93vw/(1294/100)); padding-left: calc(18vw/(1294/100)); font-size: calc(17vw/(1294/100)); } }

.entrance-banner { width: 1294px; margin-left: auto; margin-right: auto; background-color: black; padding-bottom: 100px; }

@media (max-width: 1294px) { .entrance-banner { width: 100%; padding-bottom: calc(100vw/(1294/100)); } }

.entrance-banner__flex { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-top: 15px; }

@media (max-width: 1294px) { .entrance-banner__flex { padding-top: calc(15vw/(1294/100)); } }

.entrance-banner__flex:first-child { padding-top: 30px; }

@media (max-width: 1294px) { .entrance-banner__flex:first-child { padding-top: calc(30vw/(1294/100)); } }

.entrance-banner__flex div { background-color: #fff; }

.entrance-banner__flex div:first-child { margin-right: 15px; }

@media (max-width: 1294px) { .entrance-banner__flex div:first-child { padding-right: calc(15vw/(1294/100)); } }

.entrance-banner__flex div a:hover img { opacity: 0.7; filter: alpha(opacity=70); }

.entrance-banner__text { font-size: 14px; text-align: center; margin-top: 50px; }

@media (max-width: 1294px) { .entrance-banner__text { font-size: calc(14vw/(1294/100)); margin-top: calc(50vw/(1294/100)); } }

.entrance-banner__form { margin: 0 auto; }

.entrance-banner__desc { margin-bottom: 30px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

@media (max-width: 1294px) { .entrance-banner__desc { margin-bottom: calc(30vw/(1294/100)); } }

.entrance-footer { background-color: #000; text-align: center; margin-top: 0; width: 1294px; margin-left: auto; margin-right: auto; padding-bottom: 15px; }

@media (max-width: 1294px) { .entrance-footer { width: 100%; } }

.entrance-footer p { padding: 13px 0; color: #fff; font-size: 20px; -webkit-font-feature-settings: "palt"; font-feature-settings: "palt"; }

@media (max-width: 1294px) { .entrance-footer p { padding: calc(13vw/(1294/100)) 0; font-size: calc(20vw/(1294/100)); } }

@-webkit-keyframes leaveButton { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(0.9); transform: scale(0.9); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes leaveButton { 0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(0.9); transform: scale(0.9); }
  100% { -webkit-transform: scale(1); transform: scale(1); } }

@media (max-width: 1294px) { .content-box, .links-box { width: calc(1010vw/(1294/100)); } }

@media (max-width: 1294px) { .link_form td input { width: calc(738vw/(1294/100)); } }

@media (max-width: 1294px) { dl.detailed { width: calc(670vw/(1294/100)); padding: calc(15vw/(1294/100)); } }

@media (max-width: 1294px) { .link_form p.tx_right, .link_form table { width: calc(1010vw/(1294/100)); } }

@media (max-width: 1294px) { .link_form table { font-size: calc(12vw/(1294/100)); } }

@media (max-width: 1294px) { .link_form table th { width: calc(250vw/(1294/100)); font-size: calc(15vw/(1294/100)); } }

@media (max-width: 1294px) { dl.detailed dd { font-size: calc(15vw/(1294/100)); } }

@media (max-width: 1294px) { dl.detailed dt { font-size: calc(18vw/(1294/100)); } }

@media (max-width: 1294px) { .link_form h2 span { width: calc(300vw/(1294/100)); font-size: calc(18vw/(1294/100)); } }
/*# sourceMappingURL=shop-entrance.css.map */