.container-ent {
  // background-color: #000;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;

  // background: url(../img/common/ent-bg.jpg);
  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-image: url(../img/common/ent-bg.jpg);
    background-size: cover;
    z-index: -10;
    // background-blend-mode: multiply;
    // background-color: rgba(0, 0, 0, 0.5);
  }
}

.entrance {
  &__heading {
    text-align: center;
    padding-top: calc(80vw / (375 / 100));
    @include pc {
      padding-top: 80rem;
    }

    img {
      width: 85%;
      @include pc {
        width: 50%;
      }
    }
  }

  &__shoplist {
    text-align: center;

    li {
      margin-bottom: 35px;
      letter-spacing: 0.05em;

      a {
        font-family: '游明朝',
        'Yu Mincho',
        YuMincho,
        'Hiragino Mincho Pro',
        serif;
        color: #fff;
        font-size: 22px;
        transition: .3s;
        text-align: center;
        @include pc {
          font-size: 10rem;
        }

        &:hover {
          text-shadow: 1px 1px 2px #dd0556,
          0 0 1em #dd0556,
          0 0 0.2em #dd0556;
          transition: .3s;
        }
      }
    }

    .exit {
      margin: 0 auto;
      width: 100%;
      bottom: calc(20vw / (375 / 100));
      font-size: calc(12vw / (375 / 100));
      color: #fff;
      text-align: center;
      letter-spacing: 0.01em;
      @include pc {
        font-size: 10rem;
      }

      a {
        position: relative;
        font-size: calc(14vw / (375 / 100));
        color: #fff;
        letter-spacing: -1px;
        font-weight: 500;
        @include pc {
          font-size: 10rem;
        }


        &::after {
          position: absolute;
          content: '';
          bottom: calc(2vw / (375 / 100));
          left: 0;
          width: calc(27vw / (375 / 100));
          height: 1px;
          background-color: #fff;
          @include pc {
            bottom: 0;
            width: 19rem;
          }
        }

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  &__container {
    text-align: center;
    padding: calc(50vw / (375 / 100)) 0;
    @include pc {
      padding: 30rem 0;
    }

    &--enter {
      padding-bottom: calc(24vw / (375 / 100));

      p {
        font-size: calc(20vw / (375 / 100));
        line-height: 2;
        font-family: 'ヒラギノ明朝 Pro W3',
        'Hiragino Mincho Pro',
        '游明朝',
        'Yu Mincho',
        '游明朝体',
        'YuMincho',
        'ＭＳ Ｐ明朝',
        'MS PMincho',
        serif;
        @include pc {
          font-size: 10rem;
        }
      }

      // img {
      //   width: 50%;
      // }
    }

    &--caution {
      padding-bottom: calc(24vw / (375 / 100));
      @include pc {
        padding-bottom: 20rem;
      }
    }

    &--comment {
      padding-bottom: calc(24vw / (375 / 100));
      @include pc {
        padding-bottom: 20rem;
      }

      a {
        font-size: calc(12vw / (375 / 100));
        @include pc {
          font-size: 8rem;
        }
      }
    }

    &--exit {
      p {
        font-size: calc(20vw / (375 / 100));
        line-height: 2;
        font-family: 'ヒラギノ明朝 Pro W3',
        'Hiragino Mincho Pro',
        '游明朝',
        'Yu Mincho',
        '游明朝体',
        'YuMincho',
        'ＭＳ Ｐ明朝',
        'MS PMincho',
        serif;
        @include pc {
          font-size: 8rem;
        }
      }

      // img {
      //   width: 35%;
      // }
    }
  }
}

.entrance-banner {
  background-color: rgba(0, 0, 0, .8);
  position: relative;
  z-index: 10;

  &__group {
    text-align: center;
    padding: 0 0 calc(10vw / (375 / 100));

    &--heading {
      text-align: center;
      font-size: 22px;
      // margin-top: 70px;
      padding-top: 70px;
      padding-bottom: 30px;
      font-family: 'ヒラギノ明朝 Pro W3',
      'Hiragino Mincho Pro',
      '游明朝',
      'Yu Mincho',
      '游明朝体',
      'YuMincho',
      'ＭＳ Ｐ明朝',
      'MS PMincho',
      serif;
      @include pc {
        font-size: 8rem;
      }

      // &::before {
      //   position: absolute;
      //   content: '';
      //   top: 50%;
      //   left: calc(105vw/(375/100));
      //   transform: translate(-50%, -50%);
      //   width: calc(18vw/(375/100));
      //   height: 1px;
      //   background-color: #fff;
      // }

      // &::after {
      //   position: absolute;
      //   content: '';
      //   top: 50%;
      //   left: calc(270vw/(375/100));
      //   transform: translate(-50%, -50%);
      //   width: calc(18vw/(375/100));
      //   height: 1px;
      //   background-color: #fff;
      // }
    }

    &--item {
      margin-top: 30px;

      .speed-img {
        width: 70%;
      }

      .eco-img {
        width: 40%;
      }

      .esthe-img {
        width: 90%;
      }

      .okusama-img {
        width: 50%;
      }

      // &:first-child {
      //   img {
      //     width: 75%;
      //   }
      // }

      // &:nth-child(2) {
      //   img {
      //     width: 75%;
      //   }
      // }

      // &:nth-child(3) {
      //   padding-top: calc(10vw/(375/100));

      //   img {
      //     width: 75%;
      //   }
      // }

      // &:last-child {
      //   padding-top: calc(15vw/(375/100));

      //   img {
      //     width: 55%;
      //   }
      // }
    }
  }

  &__text {

    p {
      text-align: justify;
      text-align-last: left;
      padding: 48rem 40rem;
      font-size: calc(13vw / (375 / 100));
      letter-spacing: -0.05em;
      @include pc {
        font-size: 10rem;
        padding: 10rem 20rem;
      }
    }
  }

  &__box {
    padding: calc(20vw / (375 / 100));
    text-align: center;

    div {
      padding: calc(5vw / (375 / 100)) 0;
    }
  }

  &__form {
    margin-right: 20rem;
    margin-bottom: 48rem;
    margin-left: 20rem;
    padding: 1px;
    background-image: linear-gradient(45deg, #a96a2f 21%, #54341d 44%, #bd884d 54%, #674d25 65%);
  }

  &__wrap {
    background-color: #000;
    padding: 48rem 48rem;
    @include pc {
      padding: 20rem 40rem;
    }

    .detailed {
      font-size: 22rem;
      text-align: justify;
      line-height: 1.5;
      @include pc {
        font-size: 11rem;
      }

      dd {
        margin-bottom: 10px;
      }
    }

    .banner {
      @include pc {
        font-size: 12rem;
      }

      dt {
        font-size: 30rem;
        @include pc {
          font-size: 12rem;
        }
      }
    }
  }

  &__text {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22rem;
    @include pc {
      padding-top: 10rem;
      padding-bottom: 10rem;
      font-size: 10rem;
    }
  }

  .tx_right {
    font-size: 22rem;
    @include pc {
      font-size: 8rem;
    }
  }

  table {
    width: 100%;

    tr {
      display: block;
      margin-bottom: 64rem;
      @include pc {
        margin-bottom: 24rem;
      }
    }

    th {
      text-align: left;
      display: block;

      label {
        display: block;
        margin-bottom: 8rem;
        color: #fff;
        font-size: 24rem;
        @include pc {
          margin-bottom: 2rem;
          font-size: 10rem;
        }
      }
    }

    td {
      display: block;

      input {
        width: 100%;
        line-height: 56rem;
        padding: 4rem 16rem;
        font-size: 30rem;
        @include pc {
          font-size: 10rem;
          line-height: 13rem;
          padding: 4rem 8rem;
        }
      }
    }
  }

  .submit {
    text-align: center;

    input {
      -webkit-appearance: none;
      margin-top: 16rem;
      width: 464rem;
      // background-color: #A90000;
      background-color: #ffaf00;
      border-radius: 6rem;
      color: #fff;
      font-size: 35rem;
      line-height: 96rem;
      @include pc {
        font-size: 10rem;
        line-height: 13rem;
        padding: 4rem 8rem;
      }
    }
  }
}

.links-box {
  margin-right: 20rem;
  padding-bottom: 48rem;
  margin-left: 20rem;
  @include pc {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  h2 {
    font-size: 30rem;
    margin: 8rem 0;
    @include pc {
      font-size: 9rem;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }
}


.entrance-footer {
  background-color: #000;
  text-align: center;
  margin-top: 0;
  position: relative;
  z-index: 10;
  @include pc {
    font-size: 12rem;
  }

  p {
    padding: calc(25vw / (375 / 100)) 0;
    color: #fff;
    font-size: 11px;
  }
}

.bg-black {
  background-color: #000;
  @include pc {
    ul {
      font-size: 8rem;
    }
  }
}